<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="contactOnSubmit()">
    <div>
      <label for="name">Nome</label>
      <input id="name" type="text" formControlName="name" />
      <span></span>
    </div>
    <div>
      <label for="email">E-mail</label>
      <input id="email" type="text" formControlName="email" />
      <span></span>
    </div>
    <div>
      <label for="phone">Celular</label>
      <input id="phone" type="text" formControlName="phone" />
      <span></span>
    </div>
    <div>
      <label for="message">Mensagem</label>
      <textarea id="message" rows="4" formControlName="message"></textarea>
      <span></span>
    </div>

    <button>Enviar</button>
  </form>
</div>
