<div class="container">
  @if( phone){
  <form [formGroup]="loginForm" (ngSubmit)="loginOnSubmit()">
    <div>
      <label for="code">código</label>
      <input id="code" type="text" formControlName="code" />
      <span></span>
    </div>
    <p>Informe o código de 6 dígitos recebido em seu dispositivo</p>
    <button type="submit">autenticar</button>
  </form>
  } @else {
  <form [formGroup]="phoneVerifyForm" (ngSubmit)="phoneVerifyOnSubmit()">
    <div>
      <label for="phone">celular</label>
      <input id="phone" type="text" formControlName="phone" />
      <span></span>
    </div>
    <p>Você receberá um código de 6 dígitos em seu dispositivo eletrônico para autenticar-se na plataforma</p>
    <button type="submit">verificar</button>
  </form>
  }
</div>
