<main>
  <header>
    <div class="box">
      <h1>Sua Melhor Plataforma de Serviços</h1>
      <h6>
        <span>Potencialize a capacidade </span> da sua demanda operacional <span>utilizando inteligência
          artificial</span>
      </h6>
    </div>
    <div class="box">
      <figure>
        <img [ngSrc]="logotipo" fill priority alt="Dedicado" />
      </figure>
    </div>
  </header>
  <section class="bg-slate-50">
    <div class="box">
      <p>a <span class="text-4xl">dedicado</span> oferece soluções personalizadas de alta
        performance que aumentam a produtividade de pessoas e organizações</p>
    </div>
    <div class="box">
      <h4>Um pouco do que podemos <span>fazer por você</span></h4>
      <slot>
        <dl>
          <dt>Integração</dt>
          <dd>Integramos sistemas com nossas soluções de gestão de serviços transacionais otimizadas com inteligência
            artificial, ou desenvolvemos soluções personalizadas para implementação em sistemas já existentes.</dd>
        </dl>
        <dl>
          <dt>Otimização</dt>
          <dd>Realizamos o mapeamento completo de todo o fluxo do sistema afim de encontrar pontos de melhoria, e
            desenhamos a melhor estratégia para otimização.</dd>
        </dl>
        <dl>
          <dt>Arquitetura</dt>
          <dd>Com foco em redução de custos e otimização de recursos operacionais, optamos por soluções de fácil
            implementação, visando uma melhor manutenabilidade para sua sustentação e escalabilidade.</dd>
        </dl>
      </slot>
    </div>

  </section>
</main>
