<nav>
  <mat-toolbar>
    <figure>
      <img [ngSrc]="logotipo" fill priority alt="Dedicado" />
    </figure>
    <div class="divider"></div>
    <div class="navbar">
      <ul>
        <li>
          <a routerLink="/">Início</a>
        </li>
        <li>
          <a routerLink="contato">Contato</a>
        </li>
      </ul>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">
        <mat-icon>home</mat-icon>
        <a routerLink="/">Início</a>
      </button>
      <button mat-menu-item routerLink="contato">
        <mat-icon>mail</mat-icon>
        <a routerLink="contato">Contato</a>
      </button>
    </mat-menu>
    <app-user-menu />
  </mat-toolbar>
</nav>
